<html>
  <head>
    <title>Express handlebars</title>
  </head>
  <body>
    {{{body}}}

    <iframe id="cashierid" src="https://rc.cashier-qa.pyr/cashier/?hermesappkey=3f85e4c7-6d13-4d37-9f53-00f01da87bff&amp;u=SDRZQN&amp;ram=1&amp;token=GoK0w9DIjgCLF5zMFmL01FS3&amp;signature=4fsdxMBS49nEm4tFwyM9yf42u13wNktE5mbUbvywW6fsfyeN%2BKlVdWdB6DLC3YFp0ONiTUNxNeLMxspvtZvO49yD0QuBVfE6jDiEUNEA4A6mNOvY0N89nSAPzUBJPrj4QuL1604iPI1tUPHh%2BGkifYmjm2XfFgSH&amp;userId=rkes30&amp;TimeZoneId=2&amp;platform=Web&amp;language=en&amp;product=poker&amp;country=ES&amp;hostname=ram.qa-es.pyr&amp;clientid=1182823145.1590775622&amp;acid=1182823145.1590775622&amp;visitid=2fe2b721-f8cf-b3df-80f1-f1b623198ad2&amp;interactionid=&amp;psga=%7B%22g1%22%3A1591141942756%2C%22g2%22%3A1591141942956%7D&amp;applePaySupported=false" allow="camera" style="position: fixed; left: 0px; top: 0px; width: 100%; height: 100%; z-index: 5002; border: 0px;"></iframe>
  </body>
</html>